*{
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
 
}
 
.nav-bar{
    
}

.nav-bar  li{
    display: inline;
    position: relative;
    right: 200px;
    

}
.nav-bar{
   
    height: 100px;
    border: 2px solid black;
 font-size: 15px;
 
}
.nav-bar div {
    display: inline;
    position: relative;
    bottom: 30px;
   
    right: 200px;

}
 .nav-bar img {
    width: 150px;
    height: 100px;
 }
 .nav-bar a {
    position: relative;
    bottom: 30px;
    margin: 30px;
    text-decoration: none;
     padding: 50px 0 0 0 ;
     color: #222;
    
 }
 .nav-bar a:hover {
    border-top: 5px solid #3C7FE7;
   
     /* transition: all 0.2s ease; */

 }
 .btn-add-serves{
     
    
    background-image: linear-gradient(-40deg, #7AADF7 0%, #3C7FE7 100%);
    border-radius: 22px;
    border: none ;
    min-width: 120px;
    height: 30px;
    line-height: 26px;
    color:#fff;
   
 }
.btn-sign-in {
    border: none ;
    font-size: 16px; 
    background-color:#fff ;
     margin-right: 20px;
    
}
.title-section {
    border: 2px solid black;
    background: linear-gradient(21deg, #74FB9C 0%, #3C7FE7 100%);
    padding: 50px 0;
    text-align: center;
    font-size: 12px;
}
.serch-bar{
     border-radius: 80px;
     border: 1px  solid #fff;
     font-size: 16px;
    line-height: 1.5;
    width: 30%;
    display: inline-block;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    /* float: right; */
    height: 42px;
}

.serch-icon{
    position: relative;
    border: 1px solid #fff;
    background: #fff;
    display: inline-block;
    padding: 5px 30px 4px 6px;
    right: 10px;
    height: 42px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    cursor: pointer;
    /* float: right; */
    margin-right: 25px;
}
 .title-section h1 {
    color: #fff;
    font-size: 21px;
     margin-bottom: 30px ;
 }

 .background-header {
    position: absolute;
    top: 81px;
    left: 0;
 }